h1 {
    color: #412a00
}
p {
    color: #2b261f
}

button {
    background-color: #127f86;
}

body {
    background-color: #fffbf7;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    margin-top: 15px;
}